html,
body {
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: courier;
}

/* Screen controls start */

#div_topControlsRow {
  top: 0;
  right: 0;
  left: 0;
  height: 12vh;
  z-index: 100;
  position: relative;
}

#div_partyStatContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div_partyStats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#div_bottomLeftBox {
  bottom: 0;
  left: 0;
  height: 6vh;
  width: 20vw;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#div_bottomRightBox {
  bottom: 0;
  right: 0;
  height: 10vh;
  width: 20vw;
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#controlsPane {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 2rem;
  pointer-events: none;
}

#div_partyChooseOptionsContainer {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch;
}

#div_partyChooseOptionsContainer button {
  font-size: 1.4rem;
}

/* Screen controls end */

.screen-extents {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overlay-pane {
  position: fixed;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
}

.top-hfull {
  top: 0;
  right: 0;
  left: 0;
  height: 40%;
  resize: vertical;
  z-index: 100;
}

.center-float {
  top: 4rem;
  left: 4rem;
  right: 4rem;
  bottom: 8rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(128, 128, 128, 1);
  z-index: 400;
}

.vertical-distribute {
  margin: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem 1rem;
}

/* Utilities start */

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 300ms, opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.clickable {
  padding: 0.1rem;
  cursor: pointer;
}

/* Utilities end */
